@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --my-color-cero: #0e0e0e;
  --my-color-primary: #111111;
  --my-color-secundary: #ffbb00;
  --my-color-third: #f2f3f4;
  --my-color-quarter: #d0d3d4;
  --my-color-six: #ff1e56;
} 

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body{
  background: var(--my-color-third);
}


/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
::-webkit-scrollbar-thumb {
  background: #a6acaf;
  border-radius: 4px;
  height: 10px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

::-webkit-scrollbar {
  width: 8px; /* Tamaño del scroll en vertical */
  height: 8px; /* Tamaño del scroll en horizontal */
}
